.text-block {
  position: static;
  text-align: center;
}

.nav-links {
  position: static;
  padding-right: 20px;
  padding-left: 0px;
  color: #ccc;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  font-size: 20px;
  text-decoration: none;
  z-index: 100;
}

.heading {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ccc;
  font-size: 8em;
  line-height: 1em;
  letter-spacing: 3px;
}

.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ccc;
  font-size: 1.5em;
  line-height: 1.7em;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ccc;
}

.container-2 {
  display: block;
}

.heading-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 100vh;
  font-size: 10vh;
}

.div-block-2 {
  position: relative;
}

.grid {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: hsla(0, 0%, 100%, 0);
  color: #000;
}

.div-block-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#101227), to(#fff));
  background-image: linear-gradient(180deg, #101227, #fff);
}

.project-gradient {
  margin-bottom: 0px;
  padding-bottom: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0d1f), to(#101227));
  background-image: linear-gradient(180deg, #0c0d1f, #101227);
}

.project-gradient.field-margin {
  margin-bottom: 20px;
  padding-bottom: 100px;
}

.project-gradient.textarea {
  margin-bottom: 2em;
  padding-bottom: 8em;
}

.div-block-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#101227));
  background-image: linear-gradient(180deg, #000, #101227);
}

/* html {
  background-image: url('../images/Enzo-gradient.png');
  background-position: 0px 0px;
  background-size: contain;
} */
.body {
  margin: 0px;
  padding: 0px;
  background-image: url('../images/Enzo-bg2.png'), url('../images/Enzo-gradient.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat, repeat-y;
  /* background-attachment: fixed; */
}

.paragraph-3 {
  color: #ccc;
  font-size: 1.4em;
  line-height: 1.7em;
}

.form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #646464;
  text-align: right;
}

.text-field {
  margin-bottom: 25px;
}

.text-field.project-gradient {
  padding-bottom: 8px;
  color: #646464;
}

.text-field-2 {
  margin-bottom: 25px;
}

.text-field-2.project-gradient {
  color: #646464;
}

.submit-button {
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(49%, #7e43c5), to(#5a2d90));
  background-image: linear-gradient(180deg, #7e43c5 49%, #5a2d90);
  text-align: left;
}

.submit-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e43c5), color-stop(0%, #5a2d90));
  background-image: linear-gradient(180deg, #7e43c5, #5a2d90 0%);
}

.section {
  min-height: 100vh;
  padding-top: 80px;
}

.nav-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  height: 150px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000023), to(transparent));
  background-image: linear-gradient(180deg, #000023, transparent);
  line-height: 60px;
}

.menu-button {
  float: left;
}
.menu-button.w--open {
  background-color: #000;
}

nav.nav-menu.w-nav-menu.w--nav-menu-open {
    background: black;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
}
.icon {
  color: #fff;
}
.container-3 {
  width: 100%;
}
.nav-menu {
  position: absolute;
  float: left;
  clear: both;
}
}

.div-block-7 {
  display: block;
  height: 100vh;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media (max-width: 991px) {
  .grid {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .columns {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (max-width: 767px) {
  .nav-links {
    padding-left: 20px;
    text-align: left;
    display: block;
  }
  .project-gradient {
    margin-bottom: 50px;
  }
  .columns {
    margin-bottom: 0px;
  }
  .column {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 479px) {
  .nav-links {
    padding-left: 20px;
    text-align: left;
    display: block;
  }
}

.sniddl-foot{
  position: absolute;
  left: 0;
  right: 0;
  padding: 8rem 1rem 2rem;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  opacity: 0.4;
}

.sniddl-foot a {
  padding: 0.2rem;
  color: #733db5;
  font-size: 0.8rem;
}
.relative {
  position: relative;
}
span.super-big-text {
  position: absolute;
  top: 50%;
  color: rgba(255,255,255,0.1);
}
#about-bigtext {
  font-size: 20vh;
  left: -8rem;
  transform: rotate(270deg) translateY(-50%);
}
#projects-bigtext {
  transform: rotate(90deg) translateY(-50%);
  right: -8rem;
  font-size: 12.5vh;
}
#contact-bigtext {
  font-size: 14.285714vh;
  left: -8rem;
  transform: rotate(270deg) translateY(-50%);
}
